@using EGUB.Security.Web.Components
@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting

@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IWebAssemblyHostEnvironment HostEnvironment
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <AuthorizeView Roles="@($"{EGUB.FleetManagement.Web.Constants.Security.CustomUserRoles.Mechanic}")">
            <Authorized>
                <div class="top-row px-4">
                    Hello, @context?.User?.Identity?.Name!
                    <MatButtonLink Href="logout" Raised="true">Log out</MatButtonLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (IsCurrentLogin())
            return;

        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var isAuthenticated = IsAuthenticated(authenticationState);
        if (isAuthenticated)
        {
            if (authenticationState.User.IsInRole(EGUB.FleetManagement.Web.Constants.Security.CustomUserRoles.Mechanic))
                return;

            NavigationManager.NavigateTo($"/logout", false);
            return;
        }

        NavigationManager.NavigateTo($"/login?returnUrl={NavigationManager.Uri}", true);
    }

    private bool IsCurrentLogin() => NavigationManager.Uri.StartsWith($"{HostEnvironment.BaseAddress}login");


    private bool IsAuthenticated(AuthenticationState? authenticationState) => authenticationState?.User?.Identity?.IsAuthenticated ?? false;
}