﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Security Management</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <MatNavItem class="menu-item" Href="/" @onclick="ClearErrorMessages" ><MatIcon Icon="home"></MatIcon>&nbsp; Home</MatNavItem>
        </li>
        <AuthorizeView Roles="@($"{Constants.Roles.Admin}")">
        <li class="nav-item px-3">
                <MatNavItem class="menu-item" Href="userlist" @onclick="ClearErrorMessages" ><MatIcon Icon="assignment_ind"></MatIcon>&nbsp; User List</MatNavItem>
        </li>
        </AuthorizeView>
    </ul>
</div>