﻿@page "/"

<PageContainer Caption="Security Management" BreadcrumbItems="@this.GetEmptyBreadcrumbs()">
    <MudGrid Spacing="2" >
        <MudItem>
            <MudFab Href="/users" Color="Color.Primary" StartIcon="@Icons.Material.Filled.People" />
            <MudText>Users</MudText>
        </MudItem>
    </MudGrid>
</PageContainer>