﻿<PageContainer Caption="@_caption" BreadcrumbItems="@GetBreadcrumbs()" >
    <MudStack>
        <MudAutocomplete @bind-Value="User"
                         Label="Find"
                         SearchFunc="SearchItems"
                         ToStringFunc="GetDysplayText"
                         Clearable="true"
                         Immediate="true"
                         ResetValueOnEmptyText="true"
                         ShowProgressIndicator="true"
                         ProgressIndicatorColor="Color.Warning"
                         AdornmentIcon="@Icons.Material.Filled.Search"
                         AdornmentColor="Color.Primary" />
        @if (User != null)
        {
            <MudExpansionPanels>
                <MudExpansionPanel Text="@User.GetFullName()" @bind-Expanded=@_isExpanded>
                    @if (_isExpanded)
                    {
                        <UserCard UserId="@User.UserId" />
                    }
                </MudExpansionPanel>
            </MudExpansionPanels>
        }
    </MudStack>
</PageContainer>