﻿<EditForm Model="_model" Context="editContext" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <MudCard>
        <MudCardContent>
            <MudTextField @bind-Value="_model.Name" Label="Email address or login" For="@_model.ForName" />
            <MudTextField @bind-Value="_model.Password" Label="Password" InputType="InputType.Password" For="@_model.ForPassword" />
        </MudCardContent>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Submit"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       Disabled="@IsSubmitDisabled(editContext)">Submit</MudButton>
        </MudCardActions>
    </MudCard>
</EditForm>