﻿@if (_model == null)
{
    <MudProgressCircular Color="Color.Warning" Indeterminate="true" />
}
else 
{
    <EditForm Model="_model" Context="editContext" OnValidSubmit="SaveModel">
        <DataAnnotationsValidator />
        <MudCard>
            <MudCardContent>
                <MudTextField @bind-Value="_model.Email" Label="Email" ReadOnly="true" />
                <MudTextField @bind-Value="_model.PhoneNumber" Label="Phone Number" ReadOnly="true" />
                <MudTextField @bind-Value="_model.PersonName" Label="Person name" For="_model.ForPersonName" />
                <MudText>Roles:</MudText>
                <MudChipSet SelectedValues="_model.Roles"
                            SelectedValuesChanged="OnRolesChanged(editContext)"
                            SelectionMode="SelectionMode.MultiSelection" CheckMark>
                    @foreach(var role in _roles)
                    {
                        <MudChip Value="role" />
                    }
                </MudChipSet>
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit"
                           Variant="Variant.Filled" 
                           Color="Color.Primary"
                           Disabled="@IsSaveDisabled(editContext)">Save</MudButton>
            </MudCardActions>
        </MudCard>
    </EditForm>
}