﻿<EditForm Model="_model" Context="editContext" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <MudCard>
        <MudCardContent>
            <MudTextField @bind-Value="_model.Email" Label="Email address" For="@_model.ForEmail" />
            <MudTextField @bind-Value="_model.Code" Label="Login Name" For="@_model.ForCode" />
            <MudTextField @bind-Value="_model.PersonName" Label="Person Name" For="@_model.ForPersonName" />
            <MudTextField @bind-Value="_model.Password" Label="Password" InputType="InputType.Password" For="@_model.ForPassword" />
            <MudTextField @bind-Value="_model.ConfirmPassword" Label="Confirm Password" InputType="InputType.Password" For="@_model.ForConfirmPassword" />
        </MudCardContent>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Submit"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       Disabled="@IsSubmitDisabled(editContext)">Submit</MudButton>
        </MudCardActions>
    </MudCard>
</EditForm>