﻿<h1>Confirm your email</h1>

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Please enter your password</h3>
        <EditForm Model="_info" OnValidSubmit="HandleConfirmEmail">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <MatTextField Label="Password" FullWidth="true" @bind-Value="_info.Password" Type="password" />
            <MatButton Type="submit" Raised="true">Submit</MatButton>
        </EditForm>
    </div>
</div>
 