﻿.edit-element,
::deep .edit-element {
    width: 30%;
}

.buttons-block {
    padding-top: 3%;
    padding-bottom: 3%;
}

.note {
    width: 80%;
    vertical-align: bottom;
    padding-top: 42px;
    padding-left: 10%;
}

.status-table {
    margin-bottom: 20px;
}