﻿<h3>Edit User</h3>

<EditForm Model="@_info" OnValidSubmit="SaveUser">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <MatTextField Label="Email Address" FullWidth="true" @bind-Value="_info.Email" />
    <MatTextField Label="Person Name" FullWidth="true" @bind-Value="_info.PersonName" />
    <MatTextField Label="Phone Number" FullWidth="true" @bind-Value="_info.PhoneNumber" />
    <table class="status-table">
    <tr>
        <td>
            <label>User Status:</label>
            <div class="statusfield"><MatSelectItem @bind-Value="@_info.StatusValue" Items="_statuses"></MatSelectItem></div>
        </td>
        <td class="note"><div class="notefield"><MatTextField Label="Status Note" FullWidth="true" @bind-Value="_info.StatusNote" /></div></td>
    </tr>
    </table>
    <InputSelectRolesComponent @bind-Value="@_info.Roles"></InputSelectRolesComponent>
    <div class="buttons-block">
        <MatButton Type="submit" Raised="true">Submit</MatButton>
        <MatButton Raised="true" OnClick="Cancel">Cancel</MatButton>
    </div>
</EditForm>
