﻿@inherits InputSelectRolesComponentBase

<div>
    <label for="roles">Roles:</label>
    @foreach (var item in _items)
    {
        <div>
            <MatCheckbox Value="@item.Value"
                     Label="@item.Name"
                     ValueChanged="@((bool s) => ItemChanged(s, item))"
                     ValueExpression="@(() => item.Value)">
            </MatCheckbox>
        </div>
    }
</div>