﻿@using Microsoft.AspNetCore.Components.Authorization;

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <MatButtonLink Href="logout" Raised="true" >Log out</MatButtonLink>
    </Authorized>
    <NotAuthorized>
        @if (!IsCurrentRegistration())
        {
            <MatButtonLink Href="registerUser" Raised="true" >Register</MatButtonLink>
        }
        @if (!IsCurrentLogin())
        {
            <MatButtonLink Href="login" Raised="true" >Log in</MatButtonLink>
        }
    </NotAuthorized>
</AuthorizeView>