﻿<h3>Login</h3>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Please enter your details</h5>
        <EditForm Model="_loginModel" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <MatTextField Label="Email address or login" FullWidth="true" @bind-Value="_loginModel.LoginName" />
            <MatTextField Label="Password" FullWidth="true" @bind-Value="_loginModel.Password" Type="password" />
            <MatButton Type="submit" Raised="true">Submit</MatButton>
        </EditForm>
    </div>
</div>