﻿<h3>Register User</h3>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Please enter your details</h5>
        <EditForm Model="_model" OnValidSubmit="HandleRegistration">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <MatTextField Label="Email Address" FullWidth="true" @bind-Value="_model.Email" />
            <MatTextField Label="Login Name" FullWidth="true" @bind-Value="_model.Code" />
            <MatTextField Label="Person Name" FullWidth="true" @bind-Value="_model.PersonName" />
            <MatTextField Label="Password" FullWidth="true" @bind-Value="_model.Password" Type="password" />
            <MatTextField Label="Confirm Password" FullWidth="true" @bind-Value="_model.ConfirmPassword" Type="password" />
            <MatButton Type="submit" Raised="true">Submit</MatButton>
        </EditForm>
    </div>
</div>