﻿<h3>Filter Data</h3>

<EditForm EditContext="@_editContext" OnValidSubmit="BindItems">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="main-data">
        <table>
            <tr>
                <th>
                    <div class="rightcol">
                        <MatTextField Label="Code" @bind-Value="_info.Code" />
                    </div>
                </th>
                <th>
                    <MatTextField Label="Email" @bind-Value="_info.Email" />
                </th>
            </tr>
            <tr>
                <th>
                    <div class="rightcol">
                        <MatTextField Label="Person Name" @bind-Value="_info.PersonName" />
                    </div>
                </th>
                <th>
                    <MatTextField Label="Phone Number" @bind-Value="_info.PhoneNumber" />
                </th>
            </tr>
        </table>
    </div>
    <InputSelectRolesComponent @bind-Value="@_info.Roles"></InputSelectRolesComponent>
    <div class="buttons-block">
        <MatButton Type="submit" Disabled="@IsSearchDisable()" Raised="true">Apply</MatButton>
    </div>
</EditForm>

<div>
    <table class="table table-striped align-middle table-bordered">
        <thead class="table-success">
            <tr>
                <th>Code</th>
                <th>Person Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in _userItemsList)
            {
                <tr>
                    <td>
                        <a href='/editUser/@user.Id'>
                            @user.Code
                        </a>
                    </td>
                    <td>@user.PersonName</td>
                </tr>
            }
        </tbody>
    </table>
</div>