﻿<CascadingValue Value="(IDialogProvider)this">
    @ChildContent
</CascadingValue>

<WaitDialog @bind-IsVisibled="@_isWaitDialogVisibled" Model="@_waitDialogModel" />
<ErrorDialog @bind-IsVisibled="@_isErrorDialogVisibled" Message="@_error" />