﻿<MudDialog Visible="@IsVisibled" VisibleChanged="@IsVisibledChanged" Options="@_dialogOptions">
    <DialogContent>
        <MudText>@Message</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Close">OK</MudButton>
    </DialogActions>
</MudDialog>