﻿<MudDialog Visible="@IsVisibled" VisibleChanged="@IsVisibledChanged" Options="@_dialogOptions">
    <TitleContent>
        @Model.Title
    </TitleContent>
    <DialogContent>
        <div style="text-align:center">
            <MudProgressCircular Style="height:80px;width:80px;" Indeterminate="true"></MudProgressCircular>
            <MudText>@Model.Message</MudText>
        </div>
    </DialogContent>
</MudDialog>