﻿@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider Position="DialogPosition.Center" />
<MudSnackbarProvider />
<MudPopoverProvider />

<DialogProvider>
    <AuthorizeView Context="authorizeContext">
        <Authorized>
            <MudLayout>
                <MudAppBar>
                    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@OnMenuClick" />
                    <MudBreadcrumbs Items="_breadcrumbs">
                        <ItemTemplate Context="itemContext">
                            @if (itemContext.Disabled)
                            {
                                @itemContext.Text
                            }
                            else
                            {
                                <MudLink Href="@itemContext.Href"><div style="color: white">@itemContext.Text</div></MudLink>
                            }
                        </ItemTemplate>
                        <SeparatorTemplate>
                            <MudIcon Icon="@Icons.Material.Filled.ArrowForward" Size="Size.Small" />
                        </SeparatorTemplate>
                    </MudBreadcrumbs>
                </MudAppBar>
                <MudDrawer @bind-Open="@_isMenuOpen" Variant="DrawerVariant.Temporary">
                    <MainMenu AuthenticationState="authorizeContext" />
                </MudDrawer>
                <MudMainContent>
                    <MudContainer Class="mt-4" MaxWidth="MaxWidth.Small">
                        <CascadingValue Value="(IMainLayout)this">
                            @Body
                        </CascadingValue>
                    </MudContainer>
                </MudMainContent>
            </MudLayout>
        </Authorized>
        <NotAuthorized>
            <MudLayout>
                <MudMainContent>
                    <MudContainer MaxWidth="MaxWidth.Small">
                        <Login />
                    </MudContainer>
                </MudMainContent>
            </MudLayout>
        </NotAuthorized>
    </AuthorizeView>
</DialogProvider>
