﻿<MudNavMenu>
    <MudStack Class="mt-5" Row="true" Justify="@Justify.Center" AlignItems="@AlignItems.Center">
        <MudAvatar Color="Color.Primary">@_avatarText</MudAvatar>
        <MudText Typo="Typo.h6">@_userName</MudText>
    </MudStack>
    <MudDivider Class="my-2" />
    <MudNavLink Icon="@Icons.Material.Filled.ExitToApp" OnClick="SignOut">Sing Out</MudNavLink>
</MudNavMenu>