@inherits LayoutComponentBase
@using EGUB.Security.Web.Components

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <LoginDisplayComponent />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>