﻿@using EGUB.Core.Web.Components
@using Microsoft.AspNetCore.Components.Authorization;

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Fleet Management</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <MatNavItem class="menu-item" Href="/" @onclick="ClearErrorMessages" ><MatIcon Icon="home"></MatIcon>&nbsp; Home</MatNavItem>
        </li>
        <AuthorizeView Roles="@($"{Constants.Roles.Admin}")">
            <li class="nav-item px-3">
                <MatNavItem class="menu-item" Href="userlist" @onclick="ClearErrorMessages" ><MatIcon Icon="assignment_ind"></MatIcon>&nbsp; User List</MatNavItem>
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    [CascadingParameter]
    public Error? Error { get; set; }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
        ClearErrorMessages();
    }

    private void ClearErrorMessages()
    {
        Error?.ClearErrorMessages();
    }
}