﻿@if (!string.IsNullOrEmpty(_errorMessage))
{
    <div class="alert alert-danger" role="alert">
        <p>@_errorMessage</p>
    </div>
}

<CascadingValue Value="this">
    @ChildContent
</CascadingValue>

